{% extends 'base.html' %}
{% load static %}





<!-- -------------------------------------------------------------------- -->


<!-- second Trail - -->
{% block content %}

<div class="card bg-dark text-white" style="border: none;">
  <div class="body">
    <div class="rgba">
  </div>
  <div class="card-img-overlay">
    <div class="container">
    <h1 class="card-title mt-5" style="font-weight: bold;">About Us</h1>
    <p class="card-text"><nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" style="font-weight: bold;">Home</li>
    <li class="breadcrumb-item" aria-current="page" style="font-weight: bold;">About Us</li>
  </ol></div>
</nav></p>
  </div>
  </div>
</div>


<!-- -------------------------------------------------------------------
<br>
<br>


<div class="container">
<div class="row divide">
  <div class="col-6 position-relative divide1 small_images"><img src="Images/img-1.jpg" class="img-fluid" alt="..."></div>
  <div class="position-absolute twenty_five" style="height: 200px; width: 200px; margin-top: 380px; margin-left: 10px; background-color: white; border-top-right-radius: 50px; color: red; font-size: 55px; font-weight: bold; padding-top: 40px; text-align: center;">25+<br><p style="color: gray; font-size: 20px; ">Happy Customers</p></div>





  <div class="col-6 divide1">
    <br>
    <br>
    <br>
    <br>
      <h1 style="font-weight: bold;">Keep going with your passion</h1>
      <br>

      <p style="color: gray;">Seamlessly benchmark inexpensive technology before team driven technology. Conveniently fashion empowered intellectual capital whereas high-payoff services.</p>
      <hr>
      <div class="row">
        <div class="col-6" style="color: gray;"><i class="fa fa-check" aria-hidden="true" style="margin-right: 25px;"></i>  Body Fitness
      </div>
        <div class="col-6" style="color: gray;">
          <div class="col-6"><i class="fa fa-check" aria-hidden="true" style="margin-right: 25px;"></i>Health Care
      </div>
    </div>
      </div>
      <br>
      <div class="row">
        <div class="col-6" style="color: gray;">
          <i class="fa fa-check" aria-hidden="true" style="margin-right: 25px;"></i>  Body Building
        </div>
        <div class="col-6" style="color: gray;">
          <i class="fa fa-check" aria-hidden="true" style="margin-right: 25px;"></i>  Fitness Care
        </div>
      </div>
      <br>
      <button type="button" class="btn btn_learn-btn">Learn More</button>
    </div>
  </div>
</div>
</div>




<br>
<br>
<br>

<br>
<br>
<br>

<br>
<br>
<br>

<div class="container">
  <div class="row divide">
    <div class="col divide1">
      <div class="card" style="border: none;">
      <div class="circle scale-up-center">

  <img src="Images/minimize.png" class="card-img-top " alt="..." style="height:60px; width: 60px;"></div>
  <div class="card-body">
    <h5 style="text-align: center; font-weight: bold;">Join Our Gym</h5>
    <p class="card-text" style="text-align: center; font-size:18px; color: gray;">Fessionally fabricate strategic platform without corporate before fully tested</p>
  </div>
</div>
    </div>
    <div class="col divide1">
      <div class="card" style="border: none;">
      <div class="circle scale-up-center">

  <img src="Images/clock.png" class="card-img-top " alt="..." style="height:60px; width: 60px;"></div>
  <div class="card-body">
    <h5 style="text-align: center; font-weight: bold;">Timely Exercise</h5>
    <p class="card-text" style="text-align: center; font-size:18px; color: gray;">Fessionally fabricate strategic platform without corporate before fully tested</p>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="border: none;">
      <div class="circle  scale-up-center">
        <div class="circle_border">
  <img src="Images/vagetable.png" class="card-img-top" alt="..." style="height:60px; width: 60px;"></div></div>
  <div class="card-body">
    <h5 style="text-align: center; font-weight: bold;">Healthy Food</h5>
    <p class="card-text" style="text-align: center; font-size:18px; color: gray;">Fessionally fabricate strategic platform without corporate before fully tested</p>
  </div>
</div>
    </div>
    <div class="col">
      <div class="card" style="border: none;">
      <div class="circle scale-up-center">
  <img src="Images/female-body.png" class="card-img-top female" alt="..." style="height:60px; width: 45px; padding-left: 10px;"></div>
  <div class="card-body">
    <h5 style="text-align: center; font-weight: bold;">Get a Fit Body</h5>
    <p class="card-text" style="text-align: center; font-size:18px; color: gray;">Fessionally fabricate strategic platform without corporate before fully tested</p>
  </div>
</div>
    </div>
  </div>
</div>
<br>
<br>
<br>

<-- ------------------------------------------------------------------ -->

<br>
<br>

<h6 style="text-align: center; color:red;">-They Are Always Best-</h6>
<h1 style="text-align: center; font-weight:bold;">Our Instructor</h1>

<br>
<br>

<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="container">
      <div class="row">
        <div class="col">
          <div class="card bg-dark text-white">
  <img src="{% static 'img/team2-1.jpg' %}" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="container">
      <div style="background-color: red; width: 120px; text-align: center; margin-top:250px;">Trainer</div>
      <div class="pt-2" style="background-color: white; width: 220px; text-align: center; height: 50px; color: black; font-weight: bold;">David Smith</div>
    </div>
  </div>
</div>
        </div>
        <div class="col">
          <div class="card bg-dark text-white" style="border: none;">
  <img src="{% static 'img/team2-2.jpg' %}" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="container">
      <div style="background-color: red; width: 160px; text-align: center; margin-top:250px;">Yoga Expert</div>
      <div class="pt-2" style="background-color: white; width: 220px; text-align: center; height: 50px; color: black; font-weight: bold;">Jully Adam</div>
    </div>
  </div>
</div>
        </div><div class="col">
          <div class="card bg-dark text-white"  style="border: none;">
  <img src="{% static 'img/team2-3.jpg' %}" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="container">
      <div style="background-color: red; width: 120px; text-align: center; margin-top:250px;">Shaper</div>
      <div class="pt-2" style="background-color: white; width: 220px; text-align: center; height: 50px; color: black; font-weight: bold;">John David</div>
    </div>
  </div>
</div>
</div>
        </div>
      </div>
    </div>



    <div class="carousel-item">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="card bg-dark text-white"  style="border: none;">
  <img src="{% static 'img/team2-4.jpg' %}" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="container">
      <div style="background-color: red; width: 160px; text-align: center; margin-top:250px;">Body Builder</div>
      <div class="pt-2" style="background-color: white; width: 220px; text-align: center; height: 50px; color: black; font-weight: bold;">Smith low</div>
    </div>
  </div>
</div>
          </div>
          <div class="col">
            <div class="card bg-dark text-white"  style="border: none;">
  <img src="{% static 'img/team2-1.jpg' %}" class="card-img" alt="...">
  <div class="card-img-overlay">
   <div class="container">
      <div style="background-color: red; width: 120px; text-align: center; margin-top:250px;">Trainer</div>
      <div class="pt-2" style="background-color: white; width: 220px; text-align: center; height: 50px; color: black; font-weight: bold;">David Smith</div>
    </div>
  </div>
</div>
          </div>
          <div class="col">
            <div class="card bg-dark text-white"  style="border: none;">
  <img src="{% static 'img/team2-2.jpg' %}" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="container">
      <div style="background-color: red; width: 160px; text-align: center; margin-top:250px;">Yoga Expert</div>
      <div class="pt-2" style="background-color: white; width: 220px; text-align: center; height: 50px; color: black; font-weight: bold;">Jully Adam</div>
    </div>
  </div>
</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

















<!-- -------------------------------------------------------------- -->

<br>
<br>
<br>

<div class="p-4" style="background-color: whitesmoke;">
<div class="row divide">
  <div class="col-5 divide1">
    <div class="card bg-dark text-white">
  <img src="{% static 'img/testi-banner.jpg' %}" class="card-img" alt="...">
  
</div>
  </div>


<!-- half----------------------------------------------------------------- -->

  <div class="col-7 divide1">
    <div class="container">

<br>




<div class="container">
<br>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" >
    <h3>Way Customers Doing It Their</h3>
    <p style=" color: gray; font-size: 20px; line-height: 2;">
      <i>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco alignments rather than proactive quality vectors. Authoritatively exploit intuitive web services without 24/365 networks. Professionally create premium expertise after
    </i>
<br>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
</p>
</div>


  <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" >
    <h3>Doing It Their Way Customers</h3>
    <p style=" color: gray; font-size: 20px; line-height: 2;"><i>
    Assertively visualize user friendly niche markets with accurate synergy. Synergistically build go forward meta-services without 2.0 intellectual capital. Phosfluorescently cultivate reliable alignments rather than proactive quality vectors. Authoritatively exploit intuitive web services without 24/365 networks. Professionally create premium expertise after</i>
    <br>
    <p>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
</p>
  </p>

  </div>

  <div class="tab-pane fade show" id="pills-third" role="tabpanel" aria-labelledby="pills-third-tab" >
    <h3>Doing It Their Way Customers </h3>
    <p style=" color: gray; font-size: 20px; line-height: 2;"><i>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
</i>
<br>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
<i class="fa fa-star" aria-hidden="true"  style="color: #FFCC00;"></i>
</p>
</div>

</div>
  </div>

<ul class="nav nav-pills" id="pills-tab" role="tablist" style="justify-content: center;">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
      <div class="row">
        <div class="col">
          <img src="{% static 'img/testi-2.jpg' %}" style="border-radius: 50%; height: 80px; width:80px;">
        </div>
        <div class="col" style="padding-left: 0px;" >
          <h6 style="font-size: 15px;">Karan Rubaida<br><span>Ceo and Founder</span></h6>
        </div>
      </div>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false" style="font-weight: bold;">
      <div class="row">
        <div class="col">
          <img src="{% static 'img/testi-3.jpg' %}" style="border-radius: 50%; height: 80px; width:80px;">
        </div>
        <div class="col">
          <p style="font-size: 15px;">Karan Rubaida<br><span>Instructer</span></p>
        </div>
      </div>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-third" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
      <div class="row">
        <div class="col">
          <img src="{% static 'img/testi-1.jpg' %}" style="border-radius: 50%; height: 80px; width:80px;">
        </div>
        <div class="col" style="padding-left: 0px;" >
          <h6 style="font-size: 15px;">Karan Rubaida<br><span>Ceo and Founder</span></h6>
        </div>
      </div>
    </button>
  </li>
</ul>

</div>
</div>
</div>
</div>
</div>
</div>

<br>
<br>
<br>



<!-- ----------------------------------------------------------------------------- -->
<div class="container">
  <div class="row" >
    <div class="col">
      <div class="col">
      <img class="img-fluid" src="{% static 'img/brand-1.png' %}">
    </div>
    </div>
    <div class="col">
      <img class="img-fluid" src="{% static 'img/brand-2.png' %}">
    </div>
    <div class="col">
      <img class="img-fluid" src="{% static 'img/brand-3.png' %}">
    </div>
    <div class="col">
      <img class="img-fluid" src="{% static 'img/brand-4.png' %}">
    </div>
  </div>
  <br>
  <br>
    <div class="row">
    <div class="col">
      <img class="img-fluid" src="{% static 'img/brand-5.png' %}">
    </div>
    <div class="col">
      <img class="img-fluid" src="{% static 'img/brand-6.png' %}">
    </div>
    <div class="col">
      <img class="img-fluid" src="{% static 'img/brand-7.png' %}">
    </div>
</div>
</div>


<!-- ---------------------------------------------------------------------------------- -->




<br>
<br>

<br>


<br>
<br>
<br>




{% endblock %}