{% extends 'base.html' %}
{% load static %}


{% block content %}

<div class="card text-white">
  <div class="body">
    <div class="rgba">
  </div>
  <div class="container">
  <div class="card-img-overlay mt-5">
    <div class="container">
    <h1 class="card-title" style="font-weight: bold;">Services enable process is to be after<br>schemas and you need to join</h1>
    <p class="card-text"><nav aria-label="breadcrumb">
  <ol class="breadcrumb" >
    <li class="breadcrumb-item">Home</li>
     <li class="breadcrumb-item">Body Building</li>
     <li class="breadcrumb-item">Services enable process is to be after schemas and you need to join</li>
  </ol></div>
</nav></p>
  </div>
</div>
</div>
</div>


<br>
<br>
<br>
<!-- ---------------------------------------------------------------------------------- -->





<div class="container">
  <div class="row divide">
    <div class="col-8 divide1" >
      <div class="card mb-3" style="border: none;">
  <img src="{% static 'img/blog-big-5.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">



    <div class="col-5 d-flex comments" style="justify-content: space-between;">
    <p class="card-text" ><small class="text-muted" style="color: gray;"><i class="fa fa-calendar" aria-hidden="true" style="color: #F63C25"></i>    December 1, 2021</p> <p><i class="fa fa-comments" aria-hidden="true" style="color: #F63C25;"></i>  Comments
        </small></p></div>

    <p class="card-text"><small class="text-muted">Conveniently whiteboard team building architectures without sticky partnerships. Energistically redefine emerging paradigms after resource sucking bandwidth. Dramatically supply transparent expertise whereas market-driven testing procedures.</small></p>
    <p class="card-text"><small class="text-muted" style="color: gray;">Conveniently whiteboard team building architectures without sticky partnerships. Energistically redefine emerging paradigms after resource sucking bandwidth. Dramatically supply transparent expertise whereas market-driven testing procedures.</small></p>
  </div>
</div>

<div class="card-body " style="background-color: #f9f9f9;;">
  <div class="container">
    <h6 class="card-title mt-4" style="text-align: center; line-height: 2;">Continually restore premier strategic theme areas through<br> magnetic customer service. Holisticly embrace optimal processes<br> without B2C</h6>
    <p class="card-text mt-4 mb-4" style="color: Red; text-align:center; font-weight: bold;">By David Smith</p></div>
  </div>

  <br>

<p><small class="text-muted" style="color: gray;">Objectively optimize strategic technology without 2.0 bandwidth. Monotonectally administrate user-centric results whereas performance based manufactured products. Continually restore premier strategic theme areas through magnetic customer service. Holisticly embrace optimal processes without B2C infomediaries. Holisticly deploy future-proof leadership skills rather than vertical technologies.</small></p>


<div class="card mb-3" style="border: none;">
  <img src="{% static 'img/blog-gallery-1.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body" >
    <h1 class="card-title">High quality for timely markets.</h1>
    <p class="card-text"><small class="text-muted">Conveniently whiteboard team building architectures without sticky partnerships. Energistically redefine emerging paradigms after resource sucking bandwidth. Dramatically supply transparent expertise whereas market-driven testing procedures. Professionally visualize client-centric services via inexpensive models.</small></p>


    <p class="card-text"><small class="text-muted">Conveniently whiteboard team building architectures without sticky partnerships. Energistically redefine emerging paradigms after resource sucking bandwidth. Dramatically supply transparent expertise whereas market-driven testing procedures.</small></p>
  </div>
</div>
    </div>

<!-- ------------------------------------------------------------------>

<br>
<br>
<br>


  <div class="col-4 divide1" style="color: black; ">
    <div class="container p-4" style="background-color: #f9f9f9;">
      <h5>Search</h5>
      <br>
      <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="" aria-label="Recipient's username" aria-describedby="button-addon2" style="margin-bottom:25px; border :none;">
  <button class="btn btn-danger" type="button" id="button-addon2">Search</button>
</div>
    </div>
<br>



  <div class="col" style="color: black; background-color: #f9f9f9;;">
    <div class="container p-4">
      <h5>Categories</h5>
      <br>
      <ul class="list-group"  >
  <li class="list-group-item " style="background-color: white; border: none; margin-bottom: 10px;">
    <div class="list_flex d-flex" style="justify-content: space-between; color: gray;">
      <p>Body Building</p>
      <p>(4)</p>
    </div>
  </li>
  <li class="list-group-item " style="background-color: white; border: none; margin-bottom: 10px;">
    <div class="list_flex d-flex" style="justify-content: space-between; color: gray;">
      <p>Fat Burn</p>
      <p>(4)</p>
    </div>
  </li>
  <li class="list-group-item " style="background-color: white; border: none; margin-bottom: 10px;">
    <div class="list_flex d-flex" style="justify-content: space-between; color: gray;">
      <p>Female Fitness</p>
      <p>(4)</p>
    </div>
  </li>
 <li class="list-group-item " style="background-color: white; border: none; margin-bottom: 10px;">
    <div class="list_flex d-flex" style="justify-content: space-between; color: gray;">
      <p>Muscle Gain</p>
      <p>(3)</p>
    </div>
  </li>
</ul>

</div>

<br>
<br>

    </div>
<br>
<br>

 <div class="col" style="color: black; ">
    <div class="container p-4" style="background-color: #f9f9f9;;">
      <h5>Popular Feed</h5>
      <br>
      <div class="card mb-3" style=" border: none; background-color: transparent;">
  <div class="row g-0">
    <div class="col-md-4" >
      <img src="{% static 'img/footer_man1.jpg' %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="padding:0px;">
        <h6 class="card-title" style="font-size:20px; ">Credibly procra stinate portu nities</h6>
      
        <p class="card-text"><small class="text-muted" style=" color: #818790;"><i class="fa fa-calendar" aria-hidden="true"></i>
 01 December, 2021</small></p>
      </div>
<br>
    </div>
<hr style="color: gray;">

<div class="col-md-4" >
      <img src="{% static 'img/blog-big-5-100x86 (1).jpg' %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="padding:0px;">
        <h6 class="card-title" style="font-size:20px; ">Credibly procra stinate portu nities</h6>
      
        <p class="card-text"><small class="text-muted" style="color: #818790;"><i class="fa fa-calendar" aria-hidden="true"></i>
 01 December, 2021</small></p>
      </div>
      <br>
    </div>
<hr style="color: gray;">
<div class="col-md-4" >
      <img src="{% static 'img/blog-big-4-100x86.jpg' %}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="padding:0px;">
        <h6 class="card-title" style="font-size:20px; ">Credibly procra stinate portu nities</h6>
      
        <p class="card-text"><small class="text-muted" style=" color: #818790;"><i class="fa fa-calendar" aria-hidden="true"></i>
 01 December, 2021</small></p>
      </div>
    </div>




</div>
    </div>


</div>




  </div>

<br>
<br>

<div class="p-4" style="background-color: #f9f9f9;;">
  <h5>Most Used Tags</h5>
  <br>
<button type="button" class="btn btn-outline-danger offset-1" style="border: none; color: Gray;">Fitness</button>
<button type="button" class="btn btn-outline-danger offset-1" style="border: none; color: Gray;">Gym</button>
<br>
<button type="button" class="btn btn-outline-danger offset-1" style="border: none; color: Gray; margin-top:10px;">Health</button>
</div>
</div> 


  </div>
</div>

<br>





{% endblock %}