{% extends 'base.html' %}
{% load static %}
<!-- ---------------------------Navbar End--------------------------->
{% block content %}



<br>
<br>
<br>

<!-- -----------------------Section 1 Start----------------------- -->


<div class="container" >
  
  <div class="row ">

    <div class="col-6 contact_flex p-5" style="background-color: whitesmoke;">
      <form class="col" action="" method="POST">
        {% csrf_token %}
      <h4 style="font-weight:bold;">Send Us a Message</h4>
      <p style="color: red; font-size: 15px; ">Your email address will not be published *</p>
      

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Your Name" name="name1" style="background-color: transparent;" >
  <span class="input-group-text" id="basic-addon2"><i class="fa fa-user-o" aria-hidden="true"></i>
</span>
</div>
<div class="input-group mb-3">
  <input type="email" class="form-control" placeholder="Your Email"  name="email1" style="background-color: transparent;">
  <span class="input-group-text" id="basic-addon2"><i class="fa fa-envelope-o" aria-hidden="true"></i>
</i>
</span>
</div>

<!-- <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="background-color:transparent;">
  <option selected>Select Your Service</option>
  <option value="1">Fat Burn</option>
  <option value="2">Muscle Gain</option>
  <option value="3">Body Shape</option>
  <option value="3">Aesthetics</option>
</select> -->

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Your Service" name="service1" style="background-color: transparent;">
</div>

<br>
<div class="mb-3">
 
  <textarea class="form-control d-flex" placeholder="Type Message " name="msg1"  id="exampleFormControlTextarea1" rows="3" style="background-color: transparent;"></textarea>
</div>

<div class="mx-auto" style="margin: 0px auto; ">
<input type="submit" class="btn btn contact_btn1" value="Submit Now" >
</div>
</form>
</div>

<div class="col-5 contact_flex1" style="margin-left:30px;">
  <h3 style="font-weight: bold;">We are here for help you!<br>
Arrange a meeting.</h3>
<br>
<p style="color: gray; font-size: 18px;">Holisticly engage inexpensive architectures via high-quality solutions. Efficiently implement synergistic applications vis-a-vis best-of-breed ecommerce onotonectally enable client-based portals</p>

<h5 style="font-weight: bold;">Opening Hours</h5>

<ul class="list-group list-group-flush" style="line-height: 3; color: gray;">
  <div class="d-flex" style="justify-content: space-between; list-style-type: none; border-bottom: 1px solid #DFDFE0;">
    <li class="float-start">
Mon – Fri:</li>
    <li class="float-end">8.00 am – 8.00 pm</li>
  </div>
  <div class="d-flex" style="justify-content: space-between; list-style-type: none; border-bottom: 2px dashed #DFDFE0;">
    <li class="float-start">Saturday:</li>
    <li class="float-end">9.00 am – 6.00 pm</li>
  </div>
  <div class="d-flex" style="justify-content: space-between; list-style-type: none; border-bottom: 2px dotted #DFDFE0;">
    <li class="float-start">Sunday:</li>
    <li class="float-end">9.00 am – 6.00 pm</li>
  </div>
</ul>

<br>

<h5 style="font-weight: bold;">Address</h5>
<p style="color: gray">374 William S Canning Blvd, Fall River MA 2721</p>
<br>
<h5 style="font-weight: bold;">Customer Supports</h5>
<p style="color: gray">(880) 3695 25423</p>

</div>

</div>

</div>


<!-- -------------------------Section 1 end------------------------ -->




<br>
<br>
<br>





<!-- ------------------------Iframe start--------------------- -->


<div class=" container ratio ratio-16x9">
 <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d158919.76519053272!2d-0.11790599999999998!3d51.51099!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4291f3172409ea92!2slastminute.com%20London%20Eye!5e0!3m2!1sen!2sus!4v1649920967508!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!-- -------------------------Iframe End---------------- -->

<br>
<br>

<!-- ----------------------Footer start------------------ -->


{% endblock %}